@model SalesWebMvc.Models.Student;

@{
    ViewData["Title"] = "Listing all Students";
}

<h2>@ViewData["Title"]</h2>
@Html.ActionLink("Back to List", "Index")

<hr />

<form asp-action="Create">
    @Html.HiddenFor(m => m.StudentId)

    @Html.LabelFor(m => m.StudentName)
    @Html.TextBoxFor(m => m.StudentName)
    <br />

    @Html.LabelFor(m => m.Age)
    @Html.TextBoxFor(m => m.Age)
    <br />

    @Html.LabelFor(m => m.Password)
    @Html.TextBoxFor(m => m.Password)
    <br />

    @Html.LabelFor(m => m.Gender)
    @Html.DropDownListFor(m => m.Gender,
                                new SelectList(Enum.GetValues(typeof(SalesWebMvc.Models.Enums.Gender))),
                                "Select Gender")
    <br />

    <input type="submit" class="btn btn-default"/>
</form>
